html
  head
    block styles
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
      link(rel="stylesheet", href="/style.css")
    block scripts
      script(src="/script.js")
  body
    block head 
      header(class="navbar has-background-light px-4 py-2")
        .navbar-brand
          h1(class="title is-2") Gankbait 
        .navbar-end
          if loggedIn 
            div(class="navbar-item mr-2")
              figure(class="image is-28x28 mr-2")
                img(class="is-rounded" src=user.avatar alt="Discord Avatar")
              p= user.username
          .buttons
            if loggedIn
              a(class="button is-danger" href="/logout") Logout 
            else 
              a(class="button is-dark" href="https://discord.com/api/oauth2/authorize?client_id=869983919578173482&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin&response_type=code&scope=identify") Login
    main
      block content 
    block foot
      footer.footer 
        div(class="content has-text-centered")
          p &copy; 2022 Jason Fox