extends layouts/layout.pug

block content
  section(class="hero is-medium")
    div(class="hero-body has-text-centered")
      p(class="title has-text-danger") Welcome to Gankbait 
      p.subtitle Curious to see how often you've been getting ganked?<br>You've come to the right place!
      p.subtitle Click the #[span(class="button is-small is-danger") Login] button in the top right to get started

  script(src="/index.js") 